/*.statistic {
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
}

.statistic__blank {
  display: flex;
  margin: 0 auto;
  width: 968px;
  background-color: #02897A;
  border-radius: 32px;
}

.blank {
  padding: 50px;
}

.blank__title {
  width: 430px;
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #fff;
  margin-bottom: 50px;
}

.blank__btn {
  padding: 10px 34px;
  background-color: #fff;
  color: #02897A;
  border-radius: 8px;
}*/